html {
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  margin: 40px auto;
}

.validate {
  margin: 0 auto;
}
input, textarea, button {
  display: block;
  margin: 5px auto;
  border-radius: 5px;
  border: none;
  background-color: #E7EDF1;
}
input {
  height: 20px;
}
textarea {
  resize: none;
  overflow: auto;
}
input[type="checkbox"] {
  display: inline-block;
}
